*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    border: 5px solid red;
}

.full{
     height: 500px;
     width: 1200px;
     /* border: 1px solid blue; */
     background-color: white;
     border-radius: 20px;
     
}
#boxes{
    height: 90%;
    width: 100%;
    /* border: 1px solid gray; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* gap: 10px; */
}
#firstbox{
    height: 90%;
    width: 40%;
    /* border: 1px solid orange; */
    display: flex;
    flex-direction: column;
    align-items:center;
    /* justify-content: center; */
    gap: 20px;
    font-size: 14px;
    font-weight: 100;
    margin-top: 30px;
}
#secondbox{
    height: 100%;
    width: 40%;
    /* border: 1px solid orange; */
    border: none;
    border-radius: 20px;
    background-color: rgb(255, 235, 239);
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap: 10px;
   
}

#one,#three,#two{
/* border: 1px solid gray; */
   display: flex;
   flex-direction: column;
   gap: 10px;
   width: 90%;
   height: 150px;
}

#loanamt{
    height: 30px;
    width: 100px;
    text-align: left;
    border: none;
    border-radius: 5px;

}
#interest{
    height: 30px;
    width: 50px;
    text-align: left;
    border: none;
    border-radius: 5px;

}
#tenure{
    height: 30px;
    text-align: left;
    width: 100px;
    border: none;
    border-radius: 5px;

}

#firstslide,#secslide,#thirdslide{
    height: 2px;
    width: 100%;
    background-color: red;
}
input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: red;
    color: red;
    
}


#firstspan,#secspan{
    display: flex;
    flex-direction: row;
    gap: 375px;
}


#thirdspan{
    display: flex;
    flex-direction: row;
    gap: 310px;
}

/* .check{
    height: 20px;
    width: 40px;
    border: 1px solid blue;
    background-color: red;

}

#lab{
    height: 30px;
    width: 40px;
    background-color: rebeccapurple;
} */

#secondleft{
    margin-top: -20px;
    margin-left: -50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
#secleftcont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#thirdbox{
    height: 20px;
    width: 200px;
    margin-left: 400px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
}
#sel{
    /* margin-top: 10px; */
    align-content: center;
    align-items: center;
    border: none;
    outline: none;
    background: none;
    font-size: 20px;
}
#sel:hover{
    transform: rotate(180deg)
}








#color1{
    height: 15px;
    width: 15px;
    background-color: red;
}
#color2{
    height: 15px;
    width: 15px;
    background-color: orange;
}
#val1,#val2{
    margin-left: -25px;
    display: flex;
    flex-direction: column;
}
#circle{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: purple;
}
#secondbutton1{
    margin-top: 10px;
   height: 50px;
   width: 400px;
   border: none;
   border-radius: 10px;
   background-color: rgb(255, 219, 140);
   color: blue;
   font-size: 20px;
}
#secondbutton2{
    margin-top: 10px;
    height: 50px;
    width: 210px;
    border:none;
    border-radius: 20px;
    background-color: orange;
    color: white;
 }

#val11,#val22,#val33{
    font-size: 18px;
}
#val3{
    margin-left: 20px;
    font-size: 15px;

}















#secondbox{
    height: 90%;
    width: 50%;
    border: 1px solid orange
}
#thirdbox{
height: 50px;
width: 350px;
gap: 10px;
color: orange;
 text-transform: uppercase;
}